@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* main style */
html, body{
	margin: 0 auto;
	width: 97%;
	height: 100%;
}

.content {
	width: 95%;
	margin: 0 auto;
}

body > h1 {
	text-align: center;
	margin: 20px;
}

body textarea{
	width: 90%;
	height: 250px;
	margin: 0;
	background-color: rgba(255,255,255,.3);
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #068587;
}

body input.input {
	width: 90%;
	border: 1px solid #068587;
	vertical-align:middle;
	background:rgba(255,255,255,.3);
	font-size:18px;
}

.btn-circle {
	border-color: transparent;
	background-color: var(--button-bg-color);
	color: #FFF;
	width: 40px;
	height: 40px;
	text-align: center;
	padding: 6px 0;
	font-size: 15px;
	border-radius: 20px;
	float: right;
}

.btn-circle:hover {
	opacity: 0.8;
	color: #FFF;
}

/* footer */
#footer{
	position: fixed; 
	bottom:2px; 
	right:5px; 
	color:#112F41;
}

.Button {
	position: relative;
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: var(--color-dark-2);
	font-weight: 700;
	font-size: 2em;
	padding: 4px 25px;
	border-radius: 8px;
	margin: 10px 40px 30px;
	text-align: center;
	-webkit-transition: all .1s ease;
		 -moz-transition: all .1s ease;
			-ms-transition: all .1s ease;
			 -o-transition: all .1s ease;
					transition: all .1s ease;
}

.Button:active {
	position: relative;
	top: 6px;
}

/* bar chart */
#barChart {
	margin-left: 3%;
}

.bar-chart-text {
	font-size: 20px;
}

.bar {
	fill: var(--color-light-1);
}

.bar:hover {
	fill: var(--color-normal);
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

