/* translate table */
table.table-trans > tbody > tr > td {
	border: none;
	text-align: center;
	vertical-align: middle;
}
table.table-trans > tbody > tr > td:nth-child(even) {
	background-color: #61c0a9;
}
table.table-trans > tbody > tr > td:nth-child(odd) {
	background-color: #73c8b3;
}
table.table-trans > tbody > tr > td > input {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	text-align: center;
	background-color: rgba(255,255,255,.3);
}

/* step3: text area */
#step3 > div {
	font-size:20px;
	font-weight:bold;
	text-align:left;
}

/* result */
.result { display: none; }

/* bar chart */
.bar {
	fill: #F2B134;
}

.bar:hover {
	fill: #ED553B;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}

